<!-- Welcome to {{title}}
Hello {{user}}
{{car2.CarName}} 

<ul>
    <li *ngFor = "let car of cars">{{car.CarName}}</li>
</ul> -->
<div class="container">
<app-navi></app-navi>
   <div class=row>
    <div class="col-md-2"><app-car></app-car><router-outlet></router-outlet>
    </div>
   <div class="col-md-2"><app-customer></app-customer></div>
    <div class="col-md-2"><app-brand></app-brand></div>
    <div class="col-md-2"><app-color></app-color></div>
    <div class="col-md-2"><app-user></app-user></div>
    <div class="col-md-2"><app-rental></app-rental>
    </div>
  
    </div>

